@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
body {
	background: #503047;
	text-align: center;
}
 /* Adds slow change of background color on body of page */

body {
  background-color: #abb94c;
  transition: background-color 7s linear;
  -webkit-animation-name: color-transition;
	animation-name: color-transition;
	-webkit-animation-duration: 25s;
	animation-duration: 25s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/*default value for timing-function is ease, we'll specify linear to keep the same timing through out*/
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;

}
.loaded { background-color: #78a94d;}


  /* Jumbotron with animated text */
.text_container{
  padding: 0;
  margin: 0;
  background-color: #080404;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
h1 {
  color: hsl(0, 0%, 28%);
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 7px;
  cursor: pointer;
}

h1 span {
  transition: 0.5s ease-out;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}
h1:hover span:nth-child(1):after {
  content: "";
}
h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: #ff0000;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000;
}

/* .footer {
  min-height: 100px;
  background: #e5e5e5;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #b8b8b8;
} */



/* h1 {
	font-size: 2em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	color: #F6F4F3;
	letter-spacing: 1.4px;
} */

/* hr {
	margin: 30px auto;
	width: 50%;
	text-align: center;
} */

button {
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 5px;
	color: #fff;
	margin: 5px 20px;
	-webkit-animation-name: color-transition;
	animation-name: button-transition;
	-webkit-animation-duration: 25s;
	animation-duration: 25s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	/*default value for timing-function is ease, we'll specify linear to keep the same timing through out*/
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

div {
	text-align: center;
	color: #fff;
}

/* div:not(.hero) {
	display: inline;
	padding: 20px;
	margin: 5px 20px;
	-webkit-animation-name: color-transition;
	animation-name: color-transition;
	-webkit-animation-duration: 25s;
	animation-duration: 25s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
} */

/* .hero {
	margin: 50px auto;
	width: 50%;
	height: 100px;
	-webkit-animation-name: color-transition;
	animation-name: color-transition;
	-webkit-animation-duration: 25s;
	animation-duration: 25s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
} */


/*This is the animation used to change colors */

@-webkit-keyframes color-transition {
	0% {
		background-color: #d68c45;
		border-color: #9fd356;
	}
	33% {
		background-color: #4c956c;
		border-color: #78a94d;
	}
	66% {
		background-color: #fefee3;
		border-color: #649449;
	}
	100% {
		background-color: #ffc9b9;
		border-color: #507f44;
	}
}

@keyframes color-transition {
	0% {
		background-color: #d68c45;
		border-color: #abb94c;
	}
	33% {
		background-color: #4c956c;
		border-color: #9fd356;
	}
	66% {
		background-color: #fefee3;
		border-color: #78a94d;
	}
	100% {
		background-color: #ffc9b9;
		border-color: #649449;
	}
}
@-webkit-keyframes button-transition {
	0% {
		background-color: #41658a;
		border-color: #9fd356;
	}
	33% {
		background-color: #4c956c;
		border-color: #78a94d;
	}
	66% {
		background-color: #2c0735;
		border-color: #649449;
	}
	100% {
		background-color: #0b3948;
		border-color: #507f44;
	}
}
@keyframes button-transition {
	0% {
		background-color: #41658a;
		border-color: #9fd356;
	}
	33% {
		background-color: #4c956c;
		border-color: #78a94d;
	}
	66% {
		background-color: #2c0735;
		border-color: #649449;
	}
	100% {
		background-color: #0b3948;
		border-color: #507f44;
	}
}

