.footer {
  min-height: 20px;
  background: white;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
}

.footer span {
  padding: 3px;
  background: white;
  color: black;
}

.contact-heading {
  text-decoration: underline;
}

.contact-container {
  color: black;
  display: flex;
  justify-content: space-around;
}

.contact-container h4 {
  font-size: 15px;
}

.contact-container a {
  font-size: 12px;
  color: black;
}

.contact-container a:hover {
  color: rgb(50, 50, 235);
}